body {
    font-family: sans-serif;
}
[main] {
    background-color: #FFFFFF;
}
[drawer] {
    background-color: #F9F9F9;
}

core-toolbar {
    background: #F44336;
    color: #FFF;
}


core-menu a {
    color: #000;
    text-decoration: none;
}

.content {
    padding: 30px;
}

